FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://us1.prisma.sh/blah-blah-blah/sick-fits-yourname/dev"
PRISMA_SECRET="omgplsdonttellanyone"
APP_SECRET="jwtsecret1234"
STRIPE_SECRET="sk_test_RaNdOmAlPhAnUmErIc"
PORT=4444
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="mailtrapUser"
MAIL_PASS="mailtrapPass"